{% extends 'layout.html' %}

{% block title %} Página de Pruebas {% endblock %}

{% block content %}
<h1 class="title">Pagina de mi web</h1>
<p>
{{"Creado por Greivin Cruz ñññ x 3"  |cut:"ñ" }}

{{texto | default:"no hay nada"}}
</p>

<p>
    {{lista | join:', '}}
</p>


<p>
    {{texto | length}}
</p>

<p>
    {{texto | upper}}
</p>

<p>
    {{texto | lower}}
</p>

<p>
    {{lista | random}}
</p>

<p>
    {{"<h1>este es un texto <strong> idiota</strong></h1> "|striptags|wordcount }}
</p>
{% load filters %}
{{ "Greivin Cruz"|saludo|safe}}


{%endblock%}